li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    border: solid;
    width:600px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 18px;
}

button:hover {
    transform: scale(1.2);
}
